<div class="gmparcellocker-button col-sm-12">
    {*<span id="parcel-search-address">{$gmSearchAddress}</span>*}
   <p>{l s='Chosen Parcel Locker:' mod='gmparcellocker'} <span class="chosen-parcel">{$gmChosenParcel}</span></p>
   <button class="btn btn-default btn-primary" id="parcel-choose" onclick="gmParcelLockerChoose();return false;">
      {l s='Choose Parcel Locker' mod='gmparcellocker'}
   </button>
</div>