<div class="gmparcellocker-button col-sm-12">
    <p>{l s='Chosen Parcel Locker:' mod='gmparcellocker'} <span class="chosen-parcel">{$gmChosenParcel}</span></p>
    <div id="easypack-widget"></div>
</div>